*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("pexels-pixabay-220072.jpg");
    background-size: cover;
    color: rgb(83, 20, 85);
    font-family: cursive;
}

.container{
    display: flex;
    background-color: rgba(221, 160, 221, .4);
    height: 400px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed{
    max-width: 200px;
}

.btn a{
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0, 0.3);
}